<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer MAOKO</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <footer>
      <div class="container footer-main">
        <div class="footer-content">
          <div class="footer-column footer-about">
            <a href="/" class="logo">
              <img src="Logo-troc-&-vous.png" alt="Logo Troc&Vous" />
            </a>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt.
            </p>
            <ul class="social-links">
              <li>
                <a href="#" target="_blank" title="instagram"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>
              <li>
                <a href="#" target="_blank" title="pinterest"
                  ><i class="fa fa-pinterest"></i
                ></a>
              </li>
            </ul>
          </div>

          <div class="footer-column footer-links">
            <h6 class="footer-title">Boutique</h6>
            <ul class="footer-links-list">
              <li><a routerLink="/femme">Femmes</a></li>
              <li><a routerLink="/homme">Hommes</a></li>
              <li><a routerLink="/boutique">Boutique</a></li>
              <li><a routerLink="/faq">FAQ's</a></li>
            </ul>
          </div>

          <div class="footer-column footer-links">
            <h6 class="footer-title">Marque</h6>
            <ul class="footer-links-list">
              <li><a routerLink="#">Se connecter</a></li>
              <li><a routerLink="#">S'inscrire</a></li>
              <li><a routerLink="#">Wishlist</a></li>
              <li><a routerLink="#">Nos produits</a></li>
            </ul>
          </div>

          <div class="footer-column footer-newsletter">
            <h6 class="footer-title">Newsletter</h6>
            <p class="newsletter-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At
              itaque temporibus.
            </p>
            <div class="newsletter-form">
              <input
                type="email"
                placeholder="Entrez votre e-mail"
                class="newsletter-input"
              />
              <button type="submit" class="newsletter-button">
                <i class="fa fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="container">
          <p class="copyright-text">
            © 2025 MAOKOSHOP · Tous droits réservés ｜ Mentions légales｜
            Politique de confidentialité​｜Site web produit par Baks.DEV
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
