<div id="anime3" class="messagedefilant">
  <div>
    <span
      >Échangez vos objets inutilisés ·
      <span class="anime_transform">Troc entre particuliers</span> ·
    </span>
    <span
      >Donnez une seconde vie à vos affaires ·
      <span class="anime_transform">Rejoignez la communauté</span> ·
    </span>
    <span
      >Trouvez ce dont vous avez besoin ·
      <span class="anime_transform">Sans dépenser un centime</span> ·
    </span>
    <span
      >Écologique, simple et solidaire ·
      <span class="anime_transform">Commencez à troquer</span> ·
    </span>
  </div>
</div>
