<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Streetwear Pur</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="hero-header">
      <div class="hero-content">
        <h1 class="title">
          La façon la plus simple<br />
          de donner vie à vos<br />
          <span class="text_bleu">objets</span>
        </h1>
        <span class="surtitle">
          Accède à des milliers d'annonces - dans toutes les catégories - pour
          donner, échanger et trouver près de chez toi, gratuitement.<br />
        </span>
        <button class="cta-button">
          <a href="/boutique">Découvrir maintenant</a>
        </button>
      </div>
    </div>
  </body>
</html>
